@use "/src/styles/function" as *;

.main-edit-container {
    width: 100%;
}

.edit-text {
    border: none;
    width: 100%;
    height: rem(60px);
    text-align: center;
}

input:focus::placeholder {
    color: transparent;
}
