@use "/src/styles/function" as *;
@use "/src/styles/styles" as *;

.title-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: rem(20px);

    .main-title-container {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        height: rem(60px);
        text-align: center;

        .main-title-content {
            width: 100%;
            height: 100%;
            text-align: center;
            border: $border;
            background-color: transparent;
        }

        img {
            width: rem(30px);
            height: rem(30px);
        }

        .btn-container {
            position: absolute;
            display: flex;
            right: rem(10px);
            gap: rem(5px);
        }
    }

    .sub-title-container {
        display: flex;
        flex-direction: column;
        margin-left: rem(98px);
        gap: rem(20px);

        .sub-title {
            @include flex-center;
            flex-direction: row;
            height: rem(60px);
            position: relative;

            .sub-title-content {
                border: $border;
                width: 100%;
                height: 100%;
                text-align: center;
                background-color: transparent !important;
            }

            img {
                width: rem(30px);
                height: rem(30px);
            }

            .btn-container {
                position: absolute;
                display: flex;
                right: rem(10px);
                gap: rem(5px);
            }
        }
    }
}
