@use "/src/styles/styles" as *;
@use "/src/styles/function" as *;

.sub-title {
    @include flex-center;
    flex-direction: row;
    border: $border;
    height: rem(60px);
    position: relative;

    .sub-title-content {
        border: none;
        width: 100%;
        height: 100%;
        text-align: center;
    }

    img {
        width: rem(30px);
        height: rem(30px);
    }

    .btn-container {
        position: absolute;
        display: flex;
        right: rem(10px);
        gap: rem(5px);
    }
}
