@use "/src/styles/styles" as *;

.app-sidebar {
    min-height: 100vh;
    display: flex;
    flex-direction: row;

    .sidebar {
        flex: 0 0 300px;
        background-color: $background-color;
        overflow: auto;
    }

    .content {
        flex: 1;
    }
}
