@use "/src/styles/_styles.scss" as *;

.signup-section {
  height: 100%;
  @include flex-center;

  .signup-article {
    width: 600px;
    display: flex;
    flex-direction: column;

    h2 {
      margin-bottom: 30px;
    }

    form {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 30px;

      input {
        height: 60px;
      }

      button {
        height: 60px;
      }
    }
  }
}