@use "/src/styles/styles" as *;
@use "/src/styles/function" as *;

.memoir-section {
    @include flex-center;
    flex-direction: column;
    height: 100vh;

    .memoir-edit-title {
        margin-top: rem(40px);
        font-size: $title-font-size;
    }

    .memoir-box {
        display: flex;
        flex-direction: column;
        flex: 1;
        gap: rem(10px);
        min-height: 0;

        .memoir-title {
            width: 100%;
            text-align: left;
            margin-top: rem(40px);
        }
    }

    .btn-footer {
        display: flex;
        margin-top: rem(60px);
        width: rem(1270px);
        height: rem(80px);
        justify-content: flex-end;

        .improvement-btn {
            @include btn-solid($secondary-color);
        }
    }

    .progress-circles {
        display: flex;
        justify-content: center;
        flex-direction: row;
        margin-top: rem(10px);
        gap: rem(5px);

        div {
            width: rem(10px);
            height: rem(10px);
            border: rem(1px) solid gray;
            border-radius: rem(10px);
        }

        .first-circle {
            background-color: gray;
        }
    }
}
