@use "/src/styles/styles" as *;
@use "/src/styles/function" as *;

.improvement-view-box {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.ai-feedback-textarea {
  width: rem(625px);
  margin-top: rem(10px);
  flex: 1;
  resize: none;
}

.feedback-box {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.feedback-improvement-textarea{
  width: rem(625px);
  margin-top: rem(10px);
  flex: 1;
  resize: none;
}
