@use "/src/styles/styles" as *;
@use "/src/styles/function" as *;

.content-box {
    display: flex;
    flex-direction: row;
    gap: rem(10px);
    flex: 1;

    .sub-box {
        display: flex;
        flex-direction: column;
        gap: rem(10px);
        flex: 1;
    }

    .improvement-editor {
        width: rem(625px);
        height: rem(562px);
        border: rem(1px) solid black;
        resize: none;
    }
}

.improvement-second-circle {
    background-color: gray;
}